/* Universal */
html, body {
	font-family: sans-serif;
	margin: 0;
	background-color: rgb(255, 255, 255)41, 238, 232);
}

#loading
{
	width: 1140px;
	border: 1px sold #ccc;
	margin: 0px auto;
}

nav
{
	width: 1140px;
	height: 40px;
	background: rgb(0, 0, 0);
}
nav ul{
	padding: 0px;
	margin: 0px;
}

nav ul li
{
	
	height: 40px;
	float: left;
	line-height:40px ;
	padding-left: 10px;
	padding-right: 10px;
	
}

nav ul li:hover
{
	background:rgb(255, 255, 255);
}
nav ul li:hover a
{
	font-weight: bold;
}

nav ul li a{
	color: white;
    text-decoration: none;
}

footer
{
	
	line-height: 40px;
	text-align: center;
	font-weight: bold;	
}
/* Universal */

/* Header */
.header-section {
	padding-top: 15px;
	padding-bottom: 27px;
    position: relative;
    
}
.logo{
    display: inline-block;
	padding-top: 18px;
    padding-left: 80px;
}
.main-menu li {
    display: inline-block;
    float: right;
    
}

.main-menu li a {
	display: block;
	font-size: 13px;
	color: #838080;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 30px;
	margin-right: 45px;
}


/* Header */

/* section */
.profile-section {
    padding: 50px 15px;
    position: relative;
	height: 450px;
	background: coral;
}

.profile-warp {
	width: 100%;
	margin-top: 100px;
	background: crimson;
}
.profile-lb{
	line-height: 40px;
	text-align: center;
	font-weight:rgb(25, 122, 122)d;	
}
nav p: hover
{
	textPath;
}
.latar
{
	text-align: center;
	font-weight:rgb(25, 122, 122)d;	
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;

}
table
{
	line-height: 60px;
	text-align: right;
	font-weight:rgb(25, 122, 122)d;	
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
	table-layout: initial;
	-o-table-baseline: inherit;
}
.lt{
	font-size: 9pt;
	font-style: italic;
	text-align: justify;
	
}
/* ABOUT */
table {
	margin: auto;
	color: #232323;
	border-collapse: collapse;
	width: 50%;
}

table th {
	border: 1px solid #999;
	padding: 8px 20px;
	background: #212121 ;
	color: #fff;
	font-weight: normal;
}

table td:first-child {
	text-align: left;
	padding-left: 20px;
}

table td {
	border-bottom: 1px solid #999;
	padding: 8px 20px;
	text-align: center;
	background: #fbfbfb;
}

.private-data-section {
	position: relative;
	background: #fe9b17 ;
	background: -webkit-linear-gradient(bottom, #fa0202 , #fffffe );
	background: -o-linear-gradient(bottom, #fa0202 , #fffffe );
	background: -moz-linear-gradient(bottom, #fa0202, #fffffe );
	background: linear-gradient(bottom, #fa0202, #fffffe );
}

.private-data-container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 33px 100px;
}

.private-data-wrap {
	width: 100%;
}

.private-data-table {
	z-index: 1000;
}

.private-data-table h2 {
	text-align: center;
}
/* from */
/*================from====================*/
.btn {
	border: none;
	font-size: 14px;
	padding: 24px 47px;
	border-radius: 0;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	cursor: pointer;
	background: #212121;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

.contact-section {
	position: relative;
	padding: 120px 0;
	width: 50%;
	margin: 0 auto;
}

.contact-form {
	padding-top: 20px;
}

.contact-form input,
.contact-form textarea {
	font-size: 14px;
	color: #7d7d7d;
	border: none;
	border-bottom: 1px solid #b2b2b2;
	padding-bottom: 14px;
	margin-bottom: 20px;
}

.contact-form input{
	width: 50%;
}

.contact-form textarea {
	width: 100%;
}

.contact-form textarea {
	height: 165px;
	margin-bottom: 38px;
}

.contact-msg::-webkit-input-placeholder {
	padding-top: 130px;
}
